<footer class="footer">
    <p>Use of this site constitutes acceptance
    of our <a href="/help/useragreement">User Agreement</a> and <a href="@Url.Privacy()">Privacy Policy</a>.
    &copy; @DateTime.Now.Year Skimur.io. All rights reserved.</p>
</footer>
