@{
    ViewData["Title"] = "Terms of Service";
}

<h1 class="article-title">Terms of Service</h1>

<h2>Scope and Definitions</h2>

<p>
    These terms of service ("Terms") are between Skimur.io ("Skimur") and You, regarding your use of the
    social platform skimur.io, its associated image hosting service i.skimur.io, and any skimur.io test or
    development servers which may exist now or in the future (collectively "skimur.io").
</p>

<p>Content on this page displayed in blockquotes is not officially part of the terms of service.</p>


<h2>Conduct and content</h2>

<p>You agree to follow the Content Policy here.</p>

<h2>Legal</h2>

<p>You warrant that you are at least 13 years old. You warrant that you are at least 18 years old, if you indicate
    as such in your user settings.</p>

<p>You will not hold Skimur liable for damages arising from: the use of skimur.io, the failure of skimur.io,
    administrative actions by Skimur staff, or the unauthorized access of a third party to your skimur.io account.</p>

<p>You will not hold Skimur liable for damages arising from a loss or breach of skimur.io data.</p>

<p>You accept full liability for all content you upload to, or embed within, skimur.io, and indemnify Skimur from
    all such liability.</p>

<blockquote>
    <p>You are responsible for everything you do with your skimur.io account. Don't use
    skimur.io to store important data, and don't let anyone else into your skimur.io account.</p>
</blockquote>