@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Skimur is a next-gen open-source media sharing, aggregation platform
    that lets you enjoy online communities focused around topics you love, without censorship and moderator abuse.</p>

    <p>You may remember the old skimur.com project. In that case, this version aims to essentially have all functionality
    of the old version and much more.</p>

    <h3>About</h3>
    <p>With other platforms such as Reddit blatantly removing and silencing conservative views, we decided that it was
    time to build a platform that doesn't censor any topics.</p>

    <p>A continous delivery system will deliver alpha builds to
    <a href="https://alpha.skimur.io">alpha.skimmer.io</a>. During this time, you can see what features
    are actively being implemented. Before the end of 2020,
    <a href="https://beta.skimur.io">beta.skimur.io</a> will be released</p>
</div>
